:root {
    --text: #090b10;
    --background: #f4f5f9;
    --primary: #6c7aaa;
    --secondary: #c79ebf;
    --accent: #b98696;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
    background-color: var(--background);
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    transform: translateY(-150px);
    font-size: larger;
    padding: 10px;
}

a {
    color: var(--primary);
    font-size: larger;
    transition: all 250ms;
}

a:hover {
    color: var(--accent);
    text-decoration: underline;
    transform: translateY(-2px);
}

#yapona {
    width: 250px;
    height: 250px;
}
