@font-face {
    font-family: 'PerfectDOSVGA';
    src: url('fonts/Perfect DOS VGA 437.ttf') format('truetype');
}

html {
    font-family: 'PerfectDOSVGA', monospace;
    background: #1a191d;
    color: white;
}

body {
    width: 50%;
    margin: 0 auto;
}
