:root {
    font-size: 100%;

    --red:#ff490b80;
    --blue: #00bfff80;
    --white: #ffffff85;
}

@font-face {
    font-family: 'Pokemon DP Pro';
    src: url('fonts/pokemon-dp-pro.woff2') format('woff2');
    font-display: swap;
}


body {
    font-family: 'Pokemon DP Pro';
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #000000;
    color: var(--white);
    text-shadow: 0px 2px #ffffffaa;
    margin: 5%;
    height: min-content;
    font-size: 2rem;
}

#startup-text {
    margin-bottom: 2rem;
    word-spacing: 4pt;
    line-height: 1.7pt;
}

#replika-logo {
    height: 6rem;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.red {
    color: var(--red);
    text-shadow: 0px 1.9px #ff490b80;
}

.blue {
    color: var(--blue);
    text-shadow: 0px 1.9px #23c4fa80;
}